{% extends 'base.html' %}

{% block bodyblock %}

<!--12-->
<div class="container">
    <div class="row">
        <div class="col">
            <!-- frome : upload the image-->
            <br><br>
            <h3 class="display-8"> Gender classifcation</h3>
            <p>upload an image (.jpg, .jpeg, .png), our model will
                detect face first and then grender base on face (metale or female)
            </p>


            <!-- upload image form-->
            <form action="#" method="POST" enctype="multipart/form-data">
                <div class="input-group">
                    <input type="file" class="form-control" name="image_name" required>
                    <input type="submit" value="upload & Predict" class="btn btn-outline-primary">


                </div>

            </form>
        </div>
        <div class="col-8">
            <!-- report: prediction image, reporting (grayscale, eigen image and probability score) -->
            {% if fileupload %}

            <br><br>
            <!-- predicted image -->
            <h3 class="disply-8">predicted Image</h3>
            <img src="/static/predict/prediction_image.jpg" class="img-fluid" width="600" alt="">

            <!-- reporting -->
            <table class="table table-hover table-striped">

                <tr>
                    <th>detection face</th>
                    <th>eigen image</th>
                    <th>prediction gender</th>
                    <th>score</th>
                </tr>

                {% for element in report %}
                <tr>
                    <td>
                        <img src="/static/predict/{{ element[0] }}" class="image-fluid" height="100" alt="">

                    </td>
                    <td><img src="/static/predict/{{ element[1] }}" class="image-fluid" height="100" alt=""></td>

                    <td>{{ element[2] }}</td>
                    <td>{{ element[3] }}</td>

                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}